<header>
  <div>
    <h2><a href="{{ '/' | url }}">Demo for Eleventy Reader Bar Plugin</a></h2>
  </div>
  <nav>
    <ul>
      <li>
        <a href="{{ '/posts/nunjucks' | url }}">Nunjucks</a>
      </li>
      <li>
        <a href="{{ '/posts/liquid' | url }}">Liquid</a>
      </li>
      <li>
        <a href="{{ '/posts/handlebars' | url }}">Handlebars</a>
      </li>
    </ul>
  </nav>
</header>