* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Barlow', sans-serif;

}

li {
  list-style: none;
}

header a,
nav a {
  text-decoration:none;
  color:white;
}

footer a {
  color:white;
}

a {
  color: darkcyan;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align:center;
  margin:0 auto;
}

header,
footer {
  padding: 16px;
  background-color: darkcyan;
  color: white;
}

nav {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 16px;
}

ul {
  display:flex;
  justify-content:space-around;
  padding:0px;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  line-height: 1.6rem;
  margin-top: 16px;
}

footer {
 margin-top: auto; 
}